<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Add new user</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="/" class="nav-link active" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          Manage User
                        </a>
                      </li>
                      <li>
                        <a href="dashboard/userhistory" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          Manage Fight Room
                        </a>
                      </li>
                      <li>
                        <a href="dashboard/userhistory" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        <strong>Superadmin</strong>
                      </a>
                    </div>
                </div>
            </div>
            
            <div class="col w-100 p-5">
                <div class="v-100 w-100">
                    <h1 class="text-white">Add New User</h1>
                </div>
                <div class="bg-dark v-100 w-100 p-5">
                  <form action="/api/v1/players" method="POST">
                    <div class="form-group">
                      <label class="text-white" for="InputUsername">Username</label>
                      <input class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <label class="text-white" for="InputEmail">Email</label>
                      <input class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label class="text-white" for="InputPassword">Password</label>
                      <input class="form-control" id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="form-group">
                      <label class="text-white" for="InputExperience">Experience</label>
                      <input class="form-control" id="experience" name="experience" placeholder="Experience">
                    </div>
                    <button class="bg-primary btn btn-outline-light btn-lg my-5" type="submit">Add User</button>
                  </form>
              </div>
            </div>
        </div>

    </div>
    
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $("form").submit(function(e) {
        e.preventDefault();
        var username = $("#username").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var experience = $("#experience").val();

        $.ajax({
            type: "POST",
            url: "/api/v1/players",
            contentType: "application/json",
            data: JSON.stringify({ username: username, email:email, password: password, experience:experience }),
            success: function(data) {
              console.log(data)
              console.log("User added successfully.");
              alert("User added successfully.");
              window.location.href = "/";
            },
            error: function(error) {
              console.error("Error adding user:", error);
            }
          });
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>