<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Manage User</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="/dashboard/listuser" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          Manage User
                        </a>
                      </li>
                      
                      <li>
                        <a href="#" class="nav-link active">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                      <li>
                        <a href="index" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          Logout
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        <strong>Superadmin</strong>
                      </a>
                    </div>
                </div>
            </div>
            
            <div class="col w-100 p-5">
                <div class="v-100 w-100">
                    <h1 class="text-white">User History</h1>
                    <div class="container bg-dark bg-opacity-75 v-100 w-100 mb-3 p-3">
                        <table class="table text-white p-3">
                            <thead class="text-center">
                              <tr p-3>
                                <th scope="col">#</th>
                                <th scope="col">Player Choice</th>
                                <th scope="col">Computer Choice</th>
                                <th scope="col text-center">Result</th>
                                <th scope="col text-center">Date Time</th>
                              </tr>
                            </thead>
                            <tbody class="table-group-divider">
                              <% for (let index = 0; index < userHistories.length; index++) { %>
                                <tr id = <%=`row-id-${userHistories[index].id}`%> >
                                  <th scope="row"> <%= index + 1 %> </th>
                                  <td class="text-center"><%= userHistories[index].user_choice %></td>
                                  <td class="text-center"><%= userHistories[index].computer_choice %></td>
                                  <td class="text-center bg-success"><%= userHistories[index].result %></td>
                                  <td class="text-center"><%= userHistories[index].createdAt %></td>
                                </tr>
                              <% } %>

                            </tbody>
                          </table>
                    <div class="row bg-dark bg-opacity-75 v-100 w-100">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    
  </section>
  <script src="../assets/js/script2.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>