<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Login</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <!-- <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="dashboard/listuser" class="nav-link text-white" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          Manage User
                        </a>
                      </li>
                      <li>
                        <a href="#" class="nav-link active">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                      <li>
                        <a href="/" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          Logout
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        <strong>Superadmin</strong>
                      </a>
                      
                    </div>
                </div>
            </div>
            
            <div class="col w-100 p-5">
                <div class="v-100 w-100">
                    <h1 class="text-white">List User</h1>
                    <div class="row bg-dark bg-opacity-75 v-100 w-100">
                      <table class="table text-white p-3">
                        <thead class="text-center">
                          <tr p-3>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <% for (let index = 0; index < users.length; index++) { %>
                            <tr id = <%=`row-id-${users[index].id}`%> >
                              <th scope="row"> <%= index + 1 %> </th>
                              <td><%= users[index].username %></td>
                              <td><%= users[index].email %></td>
                              <td class="text-center">
                                <a href="/dashboard/userhistory/<%=`${users[index].id}`%>">
                                    <button type="button" class="btn btn-primary m-0 p-2" style="width: 160px;">Detail Activity</button>
                                </a>
                              </td>
                            </tr>
                          <% } %>

                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
  </section>
  <script src="../assets/js/script2.js"></script>
</body>

</html>