<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Manage User</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="shadow-all d-grid">
        <div class="row">
            <div class="col-md-auto">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <p style="font-size: 1rem">
                        </i>
                      </p>
                      <span class="fs-4"><i class='bx bxs-castle p-2'></i>Dashboard</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                      <li class="nav-item">
                        <a href="/" class="nav-link active" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                          Manage User
                        </a>
                      </li>
                      <li>
                        <a href="dashboard/userhistory" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                          User's Game Activity
                        </a>
                      </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        
                        <strong>Superadmin</strong>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            
            <div class="col w-100 p-5">
                <div class="v-100 w-100">
                    <h1 class="text-white">Manage User</h1>
                    <div class="container bg-dark bg-opacity-75 v-100 w-100 mb-3 p-3">
                      <form action="/api/userbiodata/<%players.data.id%> " method="PUT">
                        <div class="form-group">
                          <label class="text-white" for="exampleInputEmail1">Username</label>
                          <input class="form-control" id="username" name="username" value="<%= players.data.username %>">
                        </div>
                        <div class="form-group">
                          <label class="text-white" for="exampleInputEmail1">Email</label>
                          <input class="form-control" id="email" name="email" value="<%= players.data.email %>" >
                        </div>
                        <div class="form-group">
                          <label class="text-white" for="exampleInputEmail1">Password</label>
                          <input class="form-control" id="password" name="password" value="123456" type="password">
                        </div>
                        <div class="form-group">
                          <label class="text-white" for="exampleInputEmail1">Level</label>
                          <input class="form-control" id="address" name="address" value="<%= players.data.lvl %>" >
                        </div>
                        <div class="form-group">
                          <label class="text-white" for="exampleInputEmail1">Experience</label>
                          <input class="form-control" id="phone_number" name="phone_number" value="<%= players.data.experience %>" >
                        </div>
                        <button class="bg-primary btn btn-outline-light btn-lg my-5" type="submit">Save Changes</button>
                      </form>
                    
                    </div>
                  
                    <!-- <div class="row">
                          <a href="dashboard-adduser" class="btn btn-info mb-3" style="width: 140px; height: 4rem!important;" role="button">Add User</a>
                    </div> -->
                    <div class="row bg-dark bg-opacity-75 v-100 w-100">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>