<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Games</title>
</head>
<body>
    <div class="container-fluid background-games p-5" style="height: 100%;">
        <div class="wadah">
            <div class="back-button d-inline-flex position-relative">
                <a href="/" class="stretched-link d-inline-flex text-decoration-none link-dark">
                    <i class='bx bxs-left-arrow-square'></i>
                    <h2 class="px-2">Rock Paper Scissors</h2>
                </a>
            </div>
        </div>
        <div class="container-xl">
            <div class="row">
                <div class="col d-grid justify-content-center">
                    <div id="player" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button id="batu" class="btn batu" type="button"> <img src="assets/images/batu.png" style="width: 80px;"> </button>
                        <button id="kertas" class="btn kertas" type="button"> <img src="assets/images/kertas.png" style="width: 80px;"> </button>
                        <button id="gunting" class="btn gunting" type="button"> <img src="assets/images/gunting.png" style="width: 80px;"> </button>
                    </div>
                </div>
                <div class="col d-flex flex-column align-items-center justify-content-center" style="height: 600px">
                    <div id="default" class=""><h1 class="versus">V S</h1> </div>
                    <div id="player-win" class="bg-success text-center p-5 d-none" style="rotate: -20deg;margin-top: 200px;"> <h2>PLAYER 1 <br>WIN!!!!</h2></div>
                    <div id="computer-win" class="bg-success text-center p-5 d-none" style="rotate: -20deg;margin-top: 200px;"> <h2>COMPUTER <br>WIN!!!!</h2></div>
                    <div id="draw" class="bg-success text-center p-5 d-none" style="rotate: -20deg;margin-top: 200px;"> <h2>DRAW <br>!!!!</h2></div>
                    <div id="refresh" class="text-center d-none" style="margin-top:110px"> <img src="assets/images/refresh.png" style="width: 100px;"></div>
                </div>
                <div class="col d-grid justify-content-center">
                    <div id="computer" class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button id="combatu" class="btns-computer" type="button"> <img src="assets/images/batu.png" style="width: 80px;"> </button>
                        <button id="comkertas" class="btns-computer" type="button"> <img src="assets/images/kertas.png" style="width: 80px;"> </button>
                        <button id="comgunting" class="btns-computer" type="button"> <img src="assets/images/gunting.png" style="width: 80px;"> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="/assets/js/script.js"></script>
</body>
</html>