<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional Games</title>
    <!-- <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/> -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Section HOME Start -->
    <section id="home">
        <div class="shadow-bottom">   
                <nav class="navbar navbar-expand-lg bg-dark bg-opacity-75 py-4 navbar-logo">
                    <div class="container justify-content-between">
                        <div class="logo-wrapper me-5 pe-5 col-1">
                            <a class="navbar-brand text-white" href="#">LOGO</a>
                        </div>
                        <div class="nav-list me-auto col">
                          <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav gap-5">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" aria-current="page" href="#">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Work</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">CONTACT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">ABOUT ME</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nav-auth-wrapper ">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/auth/register">SIGN UP</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-white" href="auth/login">LOGIN</a> 
                                </li>
                            </ul>
                      </div>
                    </div>
                  </nav>
                <div class="container align-center h-75 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <h1 class="text-center text-white heading-home text-nowrap">PLAY TRADITIONAL GAMES</h1>
                        <h3 class="text-center text-white heading-home py-3">Experience new traditional game play</p>
                            <div class="d-grid col-3 mx-auto">
                                <a href="/games" class="btn btn-warning py-3 background-orange text-decoration-none" type="button" style="font-weight: 700; background-color:orange !important">TRIAL</a>
                            </div>
                    </div>
                </div>

                <!-- THE STORY FOOTER START-->
                <footer class="page-footer">

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-1">
                        <h5 class="text-white font-weight-bold mb-2">THE STORY</h3>
                        <a href="#games"><i class='bx bx-down-arrow'></i></a>
                    </div>
                    <!-- Copyright -->
                  
                  </footer>
                <!-- THE STORY FOOTER END -->
            
        </div>
    </section>
    <!-- Section HOME End -->

    <!-- Section GAMES Start -->
    <section id="games">
        <div class="shadow-top p-1">
            <div class="container-fluid p-5">
                    <div class="header row mt-5">
                      <div class="col">
                        <h5 class="text-white ps-5">Whats so special?</h5>
                      </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-4">
                            <h1 class="text-white ps-5">THE GAMES</h1>
                        </div>
                        <div class="col-7">
                            <div class="carousel-wrapper">
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="assets/images/image7.png">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="assets/images/image7.png">
                                      </div>
                                      <div class="carousel-item">
                                        <img src="assets/images/image7.png">
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    </a>
                                  </div>
                            </div>
                          </div>
                  </div>
            </div>

        </div>
    </section>
    <!-- Section GAMES End -->

    <!-- Section FEATURES Start -->
    <section id="features">
        <div class="shadow-all">
            <div class="container-fluid">
                <div class="feature-wrapper px-5 py-6">
                    <h2 class="text-white">Whats so special?</h2>
                    <h1 class="text-white">FEATURES</h1>
                    <div class="row py-3">
                        <div class="col-1 position-relative">
                            <i class='bx bxs-circle'></i>
                        </div>
                        <div class="col-8">
                            <h2 class="text-orange">TRADITIONAL GAMES</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-8">
                            <p class="text-white">If you miss your childhood, we provide many traditional games here</p>
                        </div>
                    </div>
                    <div class="row  py-3">
                        <div class="col-1">
                            <i class='bx bx-circle'></i>
                        </div>
                        <div class="col-8">
                            <h2 class="text-orange">GAME SUIT</h2>
                        </div>
                    </div>
                    <div class="row  py-3">
                        <div class="col-1">
                            <i class='bx bx-circle'></i>
                        </div>
                        <div class="col-8">
                            <h2 class="text-orange">TBD</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section FEATURES End -->

    <!-- Section REQUIREMENT Start -->
    <section id="requirement">
        <div class="shadow-all">
            <div class="container py-5">
                <div class="header-requirement">
                    <h2 class="text-center text-white">Can My Computer Run this game?</h6>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="content-requirement">
                            <h1 class="text-white">SYSTEM<br>REQUIREMENT</h1>
                        </div>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">
                                        <h3 class="text-orange">OS:</h3>
                                        <p class="text-white fw-light">Windows 7 64-bit only
                                            (No OSX support at this time)</p>
                                    </th>
                                    <th scope="col">
                                        <h3 class="text-orange">PROCESSOR:</h3>
                                        <p class="text-white fs-6 fw-light">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHz</p>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">
                                        <h3 class="text-orange">MEMORY:</h3>
                                        <p class="text-white fs-6 fw-light">4 GB RAM</p>
                                    </th>
                                    <td>
                                        <h3 class="text-orange">STORAGE:</h3>
                                        <p class="text-white fs-6 fw-light">8 GB Available Space</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th colspan="2">
                                        <h3 class="text-orange">GRAPHICS:</h3>
                                        <p class="text-white fs-6 fw-light">NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                                    </th>
                                    
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                    <div class="col">
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Section REQUIREMENT End -->

    <!-- Section SCORER Start -->
    <section id="scorer">
        <div class="container p-5">
            <div class="row h-100">
                <div class="col">
                    <table style="height: 100%;">
                        <tbody>
                          <tr>
                            <td class="align-middle">
                                <h1 class="text-white">TOP SCORER</h1>
                                <p class="text-white">This top score from various game provided on this platform</p>
                                <button type="button" class="btn background-orange px-5 py-3" style="font-weight: 700;">see more</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col card-wrapper">
                    <div class="card bg-dark bg-opacity-75 card-wrapper-1"">
                        <div class="card-body">
                            <div class="header-card-wrapper flex-row d-flex justify-content-between">
                                <img src="assets/images/image_profile.png" class="rounded-circle" style="height: 70px;">
                                <div class="header-profile px-3 mt-3">
                                    <h5 class="card-title text-orange">Evan Lathi</h5>
                                    <h6 class="card-title text-white">PC Gamer</h6>
                                </div>
                                <div class="card-twitter mt-4">
                                    <i class='bx bxl-twitter'></i>
                                </div>
                            </div>
                            <div class="card-quote py-3">
                                <p class="card-text text-quote">"One Of my gaming highlight of the year."</p>
                            </div>
                            <div class="card-date">
                                <p class="text-date">June 18, 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-dark bg-opacity-75 mt-3 card-wrapper-2">
                        <div class="card-body">
                            <div class="header-card-wrapper flex-row d-flex justify-content-between">
                                <img src="assets/images/image_profile2.jpg" class="rounded-circle" style="height: 70px;">
                                <div class="header-profile px-3 mt-3">
                                    <h5 class="card-title text-orange">Jada Griffin</h5>
                                    <h6 class="card-title text-white">Nerdreactor</h6>
                                </div>
                                <div class="card-twitter mt-4">
                                    <i class='bx bxl-twitter'></i>
                                </div>
                            </div>
                            <div class="card-quote py-3">
                                <p class="card-text text-quote">"The next big thing in the world of streaming and survival games."</p>
                            </div>
                            <div class="card-date">
                                <p class="text-date">July 10, 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-dark bg-opacity-75 mt-3 card-wrapper-3" style="left: 50px;">
                        <div class="card-body">
                            <div class="header-card-wrapper flex-row d-flex justify-content-between">
                                <img src="assets/images/image_profile3.jpg" class="rounded-circle" style="height: 70px;">
                                <div class="header-profile mt-3">
                                    <h5 class="card-title text-orange">Aaron Williams</h5>
                                    <h6 class="card-title text-white">Uproxx</h6>
                                </div>
                                <div class="card-twitter mt-4">
                                    <i class='bx bxl-twitter'></i>
                                </div>
                            </div>
                            <div class="card-quote py-3">
                                <p class="card-text text-quote">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                            </div>
                            <div class="card-date mt-2">
                                <p class="text-date">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section SCORER End -->

    <!-- Section NEWSLETTER Start -->
    <section id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-5 image-newsletter-wrapper d-flex justify-content-center">
                    <img src="assets/images/image8.png">
                </div>
                <div class="col align-self-center p-3">
                    <h3 class="text-white">Want to stay in <br> touch?</h3>
                    <h1 class="text-white py-3">NEWSLETTER SUBSCRIBE</h1>
                    <p class="body text-white fw-light">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</h6>
                    
                    <div class="row py-5">
                        <div class="col-8">
                            <form class="form-floating">
                                <input type="email" class="form-control bg-dark text-orange" id="floatingInputInvalid" placeholder="Your Email Address" value="youremail@binar.co.id">
                                <label class="text-white" for="floatingInputInvalid">Your Email Address</label>
                            </form>
                        </div>
                        <div class="col">
                            <button type="button" class="btn py-3 px-4 background-orange btn-subscribe" style="font-weight: 700;">Subscribe Now</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PART Footer Start -->
            <div class="row">

                <div class="container-fluid mt-5">
                    <div class="footer-wrapper d-flex">
                        <div class="col-3">
    
                        </div>
                        <div class="col">
                            <div class="nav justify-content-center nav-footer pt-2">
                                <a class="nav-link text-white font-weight-light" href="#">MAIN</a>
                                <a class="nav-link text-white font-weight-light" href="#">ABOUT</a>
                                <a class="nav-link text-white font-weight-light" href="#">GAME FEATURES</a>
                                <a class="nav-link text-white font-weight-light" href="#">SYSTEM REQUIREMENT</a>
                                <a class="nav-link text-white font-weight-light" href="#">QUOTES</a>
                            </div>
                        </div>
                        <div class="col-3">
                            <nav class="social-media text-white text-center px-5">
                              <i class="bx bxl-facebook"></i>
                              <i class="bx bxl-twitter"></i>
                              <i class="bx bxl-youtube text-danger"></i>
                              <i class="bx bxl-twitch"></i>
                            </nav>
                        </div>
                    </div>
                    <div class="container pt-3">
                        <hr class="mt-2 "/>
                    </div>
                    <div class="container d-flex justify-content-between">
                        <div class="pull-left">
                            <p class="text-secondary"> © 2018 Your Games, Inc. All Rights Reserved</p>
                        </div>
                        <div class="pull-right">
                            <p class="text-white text-uppercase">Privacy Policy | Terms of Services | Code of Conduct </p>
                        </div>
                    </div>
                </div>
            </div>
              
            <!-- PART Footer End -->
        </div>
    </section>
    <!-- Section NEWSLETTER End -->
</body>
</html>
