<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Login</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="py-5 shadow-all">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-4 d-flex">
          <div class="card w-100 bg-opacity-75 bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body text-center">
  
              <div class="mb-md-5 mt-md-4">
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Login User</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login-admin">Login Admin</a>
                  </li>
                </ul>
                <h1 class="fw-bold mb-2 text-uppercase">Login User</h1>
                <p class="text-white mb-3">Please enter your email and password!</p>
                <form method="post" action="/api/login">
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="username" name="username" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">Username</label>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX">Password</label>
                  </div>
    
                  <p class="small m-0 p-0"><a class="text-white" href="#!">Forgot password?</a></p>
    
                  <button class="btn btn-outline-light btn-lg px-1" type="submit">Login</button>
                </form>
  
                <div class="d-flex justify-content-center text-center mt-1 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="register" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
      $("form").submit(function(e) {
        e.preventDefault();
        var username = $("#username").val();
        var password = $("#password").val();

        $.ajax({
            type: "POST",
            url: "/api/login",
            contentType: "application/json",
            data: JSON.stringify({ username: username, password: password }),
            success: function(data) {
              console.log(data)
              window.location.href = "/games";

            },
            error: function(error) {
              console.log(error)
            }
          });
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>