<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Login</title>
</head>
<body>
  <section id="home" class="vh-100 gradient-custom">
    <div class="py-5 vh-100 shadow-all">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-4 ">
          <div class="card w-100 bg-opacity-75 bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
                <div class="mb-md-5 mt-md-4">
  
                <h1 class="fw-bold mb-2 text-uppercase">Register</h1>
                <p class="text-white mb-5">Please enter your new email and password!</p>
                <form action="/api/user" method="POST">
                  <div class="form-outline form-white mb-4">
                    <input type="text" id="username" name="username" required class="form-control form-control-lg" />
                    <label class="form-label" for="username">Username</label>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="email" name="email" required class="form-control form-control-lg" />
                    <label class="form-label" for="email">Email</label>
                  </div>
    
                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" required class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                  </div>
  
                  <button class="btn btn-outline-light btn-lg px-1" type="submit">Create Account</button>
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>