<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Please Login</title>
</head>
<body>
  <section id="home" class="gradient-custom">
    <div class="py-5 shadow-all">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-4 d-flex">
          <div class="card w-100 bg-opacity-75 bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body text-center">
              <div class="mb-md-5 mt-md-4">
                <h2 class="fw-bold mb-3 mt-5 text-uppercase">Akun anda berhasil disimpan</h2>
                <div class="d-grid col-8 mx-auto">
                    <a href="/auth/login" class="btn btn-warning background-orange text-decoration-none mt-3" type="button" style="font-weight: 700;">Login</a>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>