@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --main-color: #000000;
    --second-color: #ffffff;
    --button-color: #FFB548;
    --background-games-color: #9C835F;
  
    --main-font: "Open Sans", sans-serif;
    --second-font: "Arial", sans-serif;
    --bebas-font: 'Bebas Neue', cursive;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

.background-hitam{
    background-color: var(--main-color);
}

.background-putih{
    background-color: var(--second-color);
}

.background-orange{
    background-color: var(--button-color);
}

.text-orange{
    color: var(--button-color);
}

.background-games{
    background-color: var(--background-games-color);
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

#home {
    background-image: url("/assets/images/image1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#games {
    background-image: url("/assets/images/image2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#features {
    background-image: url("/assets/images/image3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#requirement {
    background-image: url("/assets/images/image4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scorer {
    background-image: url("/assets/images/image5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#newsletter {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Transparent Shadow Layer Start*/

.shadow-bottom{
    background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(50, 50, 50, 0.2) 70%
  );
  height: 100vh;
}

.shadow-top {
    /* padding: 50px; */
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(50, 50, 50, 0.4) 90%
    );
    height: 100vh;
}

.shadow-all {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

/* Transparent Shadow Layer End */


.page-footer i{
    font-size: 2.5rem;
    color: white;
}

.feature-wrapper{
    height: 100vh;
    margin-left: 50%;
    /* margin-top: 10%; */
    /* top: 100px; */
}

.hidden-true{
    display: none;
}

.col-1 i{
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 15px;
}

.py-6{
    padding-top: 10rem;
}

.content-requirement{
    /* width: 100%;
    height: 100%; */
}

.table{
    /* background-color: #ffb548; */
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card{
    width: 20rem;
}

.card-twitter i{
    font-size: 1.5rem;
    color: #ffffff;
}

.header-card-wrapper img{
    border-radius: 50%;
    box-shadow: 15px 2px 1px orange;
}

.image-newsletter-wrapper{
    height: 600px;
    padding-top: 100px;
}

.image-newsletter-wrapper img{
    height: 100%;
}

.social-media i{
    font-size: 2rem;
    padding: 10px 10px;
}

.nav-footer a{
    font-size: 0.75rem;
    padding: 10px 20px;
    font-family: var(--main-font);
    font-weight: 700;
}

hr{
    border-top: 3px solid rgb(255, 255, 255);
}

.carousel-inner > .carousel-item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.card-wrapper-1{
    left: 100px;
}

.card-wrapper-2{
    left: 0;
}

.card-wrapper-3{
    left: 200px;
}

/* FONT STYLING START*/
h1{
    font-family: var(--bebas-font);
    font-size: 80px;
    font-weight: bold;
}

h2{
    font-family: var(--bebas-font);
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: bold;
}

p.body{
    font-family: var(--main-font);
    font-size: 18px;
}

p.sub-text{
    font-family: var(--main-font);
    font-size: 14px;
}

p.main-button{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
}

a.nav-link{
    font-family: var(--main-font);
    font-size: 12px!important;
    font-weight: bold !important;
    text-transform: uppercase !important; 
} 

.pull-left p{
    font-family: var(--main-font);
    font-size: 0.75rem;
}

.pull-right p{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 0.75rem;
}

a.navbar-brand{
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 700;
}

.navbar-nav a{
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
}

h1.heading-home{
    letter-spacing: 3px;
    font-size: 6rem;
    font-family: var(--bebas-font);
    letter-spacing: 5px;
}

p.heading-home{
    font-family: var(--second-font);
    letter-spacing: 5px;
    font-size: 24px;
    font-weight: 100; 
}

.btn-home{
    font-family: var(--main-font);
    font-size: 2000px;
    font-weight: 700;
}

.text-quote{
    font-family: var(--main-font);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--second-color);
}

.text-date{
    font-family: var(--main-font);
    font-size: 0.8rem;
    font-weight: 700;
    color: grey;
}

.back-button i{
    font-size: 2.5rem;
}

/* FONT STYLING END */

/* RESPONSIVE CODE START */

@media (min-width: 1400px) { 

}

@media (min-width: 992px) and (max-width:1199px) { 
    .navbar-nav{
        gap: 10px !important;
    }

    h1{
        font-size: 50px !important;
    }

    .py-6{
        padding-top: 2rem;
    }

    .card{
        padding: 0;
        width: 300px;
    }

    .card-title{
        font-size: 12px;
    }

    .text-quote{
        font-size: 12px;
    }

    .card-body{
        padding: 10px 20px;
    }

    .card-date{
        margin: 0px;
        padding: 0;

    }

    .text-date{
        font-size: 12px;
        margin: 0px;
    }

    .btn-subscribe{
        padding: 15px !important;
    }

    p.body{
        font-size: 12px;
    }

    .image-newsletter-wrapper{
        height: 400px;
    }
    
}

@media (min-width: 768px) and (max-width:991px) { 
    .navbar-nav{
        gap: 10px !important;
    }

    h1{
        font-size: 50px !important;
    }

    .py-6{
        padding-top: 2rem;
    }

    .card{
        padding: 0;
        width: 300px;
    }

    .card-title{
        font-size: 12px;
    }

    .text-quote{
        font-size: 12px;
    }

    .card-body{
        padding: 10px 20px;
    }

    .card-date{
        margin: 0px;
        padding: 0;

    }

    .text-date{
        font-size: 12px;
        margin: 0px;
    }

    .btn-subscribe{
        padding: 15px !important;
    }

    p.body{
        font-size: 12px;
    }

    .image-newsletter-wrapper{
        height: 400px;
    }
    
    .logo-wrapper{
        padding: 0px !important;
        margin: 0px !important;
    }

    .navbar-nav ul{
        padding: 0px;
        margin: 0px;
    }
    .nav-list{
        background-color:#FFB548;
    }

    .card-wrapper-1{
        left: 20px;
    }
    
    .card-wrapper-2{
        left: 0;
    }
    
    .card-wrapper-3{
        left: 40px;
    }
    
    .social-media i{
        font-size: 1.5rem;
        padding: 5px 5px;
    }

    .btn-subscribe{
        padding: 20px 5px!important;
        font-size: 12px;
    }
}

/* RESPONSIVE CODE END */


.btn {
    border: none;
    outline: none;
    padding: 20px 20px;
    /* background-color: #f1f1f1; */
    cursor: pointer;
  }

.btns-computer {
    border: none;
    outline: none;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0);
    /* cursor: pointer; */
  }
  
  /* Style the active class (and buttons on mouse-over) */
.active, .btn:hover {
    background-color: #666 !important;
    /* color: white; */
    padding: 20px 20px;
    border-radius: 20px;
  }

  .active-com {
    border: none;
    outline: none;
    background-color: #666 !important;
    padding: 20px 20px;
    border-radius: 20px;
  }

.no-click{
    pointer-events: none;
    border: none;
    outline: none;
    padding: 20px 20px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }